.main-card {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    vertical-align: center;
    border: 1px solid var(--p-primary-color);
    border-radius: 5px;
    margin-block-end: 4px;
    margin-inline: 4px;
    gap: 2px;
}
.main-header {
    height: 40px;
    margin-block-end: 0px;
}

.card-cell {
    border: 1px solid var(--p-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.5rem;
    min-height: 130px;
}

.header-cell {
    font-weight: bold;
    font-size: large;
    border: none;
}

.top-cell {
    align-items: start;
    padding-top: 8px;
}

.blue {
    background: linear-gradient(45deg, var(--p-blue-500), var(--p-blue-400), var(--p-blue-800));
}

.green {
    background: linear-gradient(45deg, var(--p-green-500), var(--p-green-400), var(--p-green-800));
}

.purple {
    background: linear-gradient(45deg, var(--p-purple-500), var(--p-purple-400), var(--p-purple-800));
}

.orange {
    background: linear-gradient(45deg, var(--p-orange-500), var(--p-orange-400), var(--p-orange-800));
}

.rose {
    background: linear-gradient(45deg, var(--p-rose-500), var(--p-rose-400), var(--p-rose-800));
}

.teal {
    background: linear-gradient(45deg, var(--p-teal-500), var(--p-teal-400), var(--p-teal-800));
}

.yellow {
    background: linear-gradient(45deg, var(--p-yellow-500), var(--p-yellow-400), var(--p-yellow-800));
}